{% extends "base.html" %} {% block content %}
<h2>Реєстрація</h2>
<form method="POST">
	<label for="email">Email:</label><br />
	<input type="email" id="email" name="email" required /><br /><br />

	<label for="password"
		>Пароль (мін. 8 символів, велика/мала літера, цифра, символ):</label
	><br />
	<input type="password" id="password" name="password" required /><br /><br />

	<div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
	<br />

	<button type="submit">Зареєструватись</button>
</form>
{% endblock %} {% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
