{% extends "base.html" %} {% block content %}
<h2>Встановлення Нового Пароля</h2>
<p>Будь ласка, введіть свій новий пароль. Пароль повинен відповідати політиці безпеки.</p>
<form method="POST">
	<label for="password"
		>Новий Пароль (мін. 8 символів, велика/мала літера, цифра, символ):</label
	><br />
	<input type="password" id="password" name="password" required /><br /><br />

	<input type="hidden" name="token" value="{{ token }}" />

	<button type="submit">Встановити новий пароль</button>
</form>
{% endblock %}
